@import 'app.css';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@300;400;700&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==';
@import 'toast.min.css';

* { font-family: 'Noto Sans', sans-serif; }
body { background: white; }

.top-right { top: 5%;right: 5%; }

.text-blink { animation: blinker .65s linear infinite; }
	@keyframes blinker { 50% { opacity: 0; } }

.cardFood { animation: showIt .5s ease-in-out; }
	@keyframes showIt { from { opacity: 0; } }

.modal-content { border-radius: .5em !important;box-sizing: border-box;overflow: hidden; }
.modal-body { padding: 0 .9em; }
.closeModal { position: absolute;top: .5em;right: 1em;padding: .15em; }

.food-desc { position: absolute;z-index: 2;bottom: 0;width: 100%;background: rgba(0, 0, 0, .5); }
	.food-desc .container { width: 95%; }

#load{
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(192, 192, 192, 0.5);
}